Package: com.dinson.noproximitycall
Name: NoProximityCall
Version: 1.3.0
Architecture: iphoneos-arm64e
Description: NoProximityCall injection test
Maintainer: DINSON
Author: DINSON
Section: Tweaks
Depends: firmware (>= 15.0)
