Package: com.dinson.noproximitycall
Name: NoProximityCall
Version: 1.1.0
Architecture: iphoneos-arm64
Description: Disable proximity screen off during phone calls.
Maintainer: Etbat
Author: Etbat
Section: Tweaks
Priority: optional
Depends: mobilesubstrate
