{
    Filter = {
        Bundles = (
            "com.apple.springboard",
            "com.apple.mobilephone",
            "com.apple.InCallService",
            "com.apple.TelephonyUtilities"
        );

        Executables = (
            "backboardd",
            "callservicesd"
        );
    };
}